@model CoffeeReview.Models.Review
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h3>@Model.Coffee.Kind</h3>

    <div id="coffees">
            <article>
                <span>@Model.Coffee.Brand</span>
                <p> <span>@Model.Coffee.Kind</span></p>

                <p><span><img src="@Model.Coffee.ImageUrl" /></span></p>

                <p>Description: <span>@Model.Coffee.Description</span></p>

                <hr />



            </article>
        
    </div>
</body>
</html>
