@model CoffeeReview.Models.Coffee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link href="~/css/ReviewStyle.css" rel="stylesheet" />
</head>
<body>
    <h3>@Model.Kind</h3>

    <div id="coffees">
        <article>
            <span>@Model.Brand</span>
            <p> <span>@Model.Kind</span></p>

            <p><span><img src="@Model.ImageUrl" /></span></p>

            <p id="description">Description:<span>@Model.Description</span></p>
            <div id="review">
                @foreach (var review in Model.Reviews)
                {
                    <article>


                        <hr />

                        <p>@review.Content</p>

                    </article>
                }
            </div>
            <hr />
        </article>

    </div>
    <p><a href="/Review/CreateByCoffeeId/@Model.Id">Add a Review</a></p>
    <nav>
        <a href="/Coffee/Index">Coffees</a>
    </nav>

    <footer>
        &copy; 2019 Brewdz
    </footer>


</body>
</html>
