@model CoffeeReview.Models.Coffee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link href="~/css/ReviewStyle.css" rel="stylesheet" />
</head>
<body>
    @*<h3>@Model.Kind</h3>*@

    <div id="coffeereview">
        <article>
            <div id="topname">
                <span>@Model.Brand</span>
                <p> <span>@Model.Kind</span></p>
            </div>

            <hr />
            <hr />
            <hr />
            <hr />
            <hr />


            <p><span><img src="@Model.ImageUrl" /></span></p>

            <hr />
            <hr />
            <hr />
            <hr />
            <hr />


            <p id="description">Description:<span>@Model.Description</span></p>

            <hr />
            <hr />
            <hr />
            <hr />
            <hr />


            <div id="review">
                @foreach (var review in Model.Reviews)
                {
                <article>


                    <hr />
                    <hr />
                    <hr />
                    <hr />
                    <hr />


                    <p>@review.Content</p>


                    <p><a class="butn" href="/Review/Delete/@review.Id"><input type="submit" value="Delete Review" class="btn btn-default" /></a></p>
                    <p><a class="butn" href="/Review/Update/@review.Id"><input type="submit" value="Update Review" class="btn btn-default" /></a></p>

                    <hr />
                    <hr />
                    <hr />
                    <hr />
                    <hr />

                </article>
                }
            </div>
            <hr />
        </article>

        <hr />
        <hr />
        <hr />
        <hr />
        <hr />

        <div id="writereview">
            <p><a class="butn" href="/Review/CreateByCoffeeId/@Model.Id"><input type="submit" value="Write a Review" class="btn btn-default" /></a></p>
        </div>
    </div>


    <nav>
        <a href="/Coffee/Index">Coffees</a>
    </nav>

    <footer>
        &copy; 2019 Brewdz
    </footer>


</body>
</html>
